
body {
    background: linear-gradient(135deg, #ff00cc, #3333ff); 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    color: white;
    transition: background-color 0.5s ease; 
}

h1 {
    font-size: 80px;
    color: white;
    margin-bottom: 30px;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6); 
    transition: transform 0.3s ease-in-out, color 0.3s ease; 
}

h1:hover {
    transform: scale(1.1); 
    color: #ffeb3b; 
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 30px;
}
input {
    height: 70px;
    width: 250px;
    background-color: #4c6ef5; 
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px;
    padding-left: 20px;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.3); 
    transition: all 0.3s ease; 
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7); 
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
    background-color: #56ccf2; 
    transition: all 0.2s ease-in-out; 
}

input:hover {
    background-color: #00bcd4;
    color: #fff;
    font-size: 22px;
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.5); 
    transform: scale(1.05); 
}

@media (max-width: 1200px) {
    h1 {
        font-size: 70px; 
    }

    input {
        width: 220px; 
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 50px; 
    }

    input {
        width: 200px; 
        font-size: 18px; 
    }

    #main {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 40px; 
    }

    input {
        width: 180px;
        height: 60px;
    }
}
#button{
    height: 70px;
    width: 250px;
    background-color: #4c6ef5; 
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px;
    padding-left: 20px;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.3); 
    transition: all 0.3s ease; 
  
}
#button:hover{
    background-color: #00bcd4;
    color: #fff;
    font-size: 22px;
    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.5); 
    transform: scale(1.05); 
}
